[submodule "active/.config/zsh/.zprezto"]
	path = active/.config/zsh/.zprezto
  url = https://github.com/sorin-ionescu/prezto.git

[submodule "active/.local/osx-screencast"]
	path = active/.local/osx-screencast
	url = https://github.com/bpkg/osx-screencast.git
