# general stuff

*.swp
*.DS_Store
.zhistory
yankring_history*.txt
active/.virtualbox
active/.config/robomongo/robomongo.json
active/.config/gh-update
.vim_mru_files
viminfo

# binary symlinks should not be tracked.

active/.local/bin/ksdiff
active/.local/bin/sketchtool
active/.local/bin/sketchtool resources.bundle
active/.local/bin/stree

