[submodule "active/.vim/bundle/vundle"]
  path = active/.vim/bundle/vundle
  url = https://github.com/gmarik/vundle.git

[submodule "active/.zprezto"]
  path = active/.zprezto
  url = https://github.com/sorin-ionescu/prezto.git

