
#
# editors & pagers
#

alias less=$PAGER
alias zless=$PAGER

#
# utilities
#

alias clear-logs='sudo rm -rf /private/var/log/asl/*.asl'

#
# homebrew
#

alias brewrc='brew update && brew upgrade && brew bundle $HOMEBREW_BUNDLES_D/people/wilmoore.brew'
alias brewrc-edit='$EDITOR ~/.brewrc'

#
# bower
#

alias bower-register-me='bower register $(basename $PWD) $(node -e "console.log(require('./package.json').repository.url)")'

#
# todo.sh
#

alias todo='todo.sh'

