_auth = d2lsbW9vcmU6d2lsbnNvazRsaWZl
email = wil.moore@wilmoore.com
init.author.name = Wil Moore III
init.author.email = wil.moore@wilmoore.com
init.author.url = http://github.com/wilmoore
init.license = MIT
strict-ssl = true

[install.g]
package[] = grunt-cli@latest
package[] = coffee-script@latest

jitsu = latest
jshint = 0.9.1
browser-repl = latest
up = latest
bower = latest
jasmine-node = latest
node-inspector = latest

[_token]
AuthSession = d2lsbW9vcmU6NTMwOTRBQ0Q65vo8VBvpe5sxutJ0cFzJ_lo58Q8
version = 1
path = /
httponly = true
expires = 1424653902484
