_auth = d2lsbW9vcmU6d2lsbnNvazRsaWZl
email = wil.moore@wilmoore.com
init.author.name = Wil Moore III
init.author.email = wil.moore@wilmoore.com
init.author.url = http://github.com/wilmoore
init.license = MIT
strict-ssl = true

[_token]
AuthSession = d2lsbW9vcmU6NTMwN0MwMDA6ZsequLSrQWuI_k4EdFGxonDz-SY
version = 1
path = /
httponly = true
expires = 1424552835117

[install-global]
grunt-cli = latest
coffee-script = latest
jitsu = latest
jshint = 0.9.1
browser-repl = latest
up = latest
