_auth = d2lsbW9vcmU6d2lsbnNvazRsaWZl
email = wil.moore@wilmoore.com
init.author.name = Wil Moore III
init.author.email = wil.moore@wilmoore.com
init.author.url = http://github.com/wilmoore
init.license = MIT
strict-ssl = false

[install.g]
packages[] = grunt-cli@latest
packages[] = coffee-script@latest
packages[] = jitsu@latest
packages[] = jshint@0.9.1
packages[] = browser-repl@latest
packages[] = up@latest
packages[] = bower@latest
packages[] = jasmine-node@latest
packages[] = node-inspector@latest
packages[] = JSON.sh@latest
packages[] = broccoli-cli@latest
packages[] = growl@latest

[_token]
AuthSession = d2lsbW9vcmU6NTMwRjA1RTU6nTW7tQNM4EvrT2li3zmau2-_2Rw
version = 1
path = /
httponly = true
expires = 1425029479147
